
@font-face {
    font-family: 'sugar';
    src: url('../styling/BrownSugar.ttf');
}

h1 {
    font-family: 'sugar';
    color: #0f0f0f;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
}

.main {
    overflow-x: hidden;
}

@media (min-width:320px) {
    .text-area{
        padding: 40px;
        text-align: justify;
    }
}

@media (min-width:801px) {
    .text-area{
        padding: 0px;
        padding-left: 50px;
        text-align: left;
    }
}